<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>promo</key>
	<dict>
		<key>fr</key>
		<array/>
		<key>en</key>
		<array/>
		<key>es</key>
		<array/>
		<key>de</key>
		<array/>
	</dict>
</dict>
</plist>
